pandas
numpy
matplotlib
seaborn
sklearn
xlrd
scipy
jupyter
cryptography
requests
requests_oauth2client
beautifulsoup4
jupyterlab
gensim
scikit-learn
modAL
requests
youtube_transcript_api
spacy
en_core_web_sm